<header class="text-center selection:bg-[rgba(142,22,22,0.30)] capitalize m-5">
  <h2
    class="font-bold text-3xl mb-2 hover:rotate-5 transition-all duration-1000"
  >
  Browse Our Meals
  </h2>
  <p class="font-medium text-lg">
    please browse our categories to find the meal you need
    <span class="font-bold text-3xl text-[#1D1616]">, </span> explore and choose
    what suits you best
  </p>
</header>
<app-sidebar class="selection:bg-[rgba(142,22,22,0.30)]"></app-sidebar>
<app-card class="selection:bg-[rgba(142,22,22,0.30)]"></app-card>
