<div class="text-center">
  <button
    class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    data-drawer-target="drawer-navigation"
    data-drawer-show="drawer-navigation"
    aria-controls="drawer-navigation"
  >
    Show All Categories
  </button>
</div>

<div
  id="drawer-navigation"
  class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-[rgb(142,22,22,0.30)]"
  tabindex="-1"
  aria-labelledby="drawer-navigation-label"
>
  <h5
    id="drawer-navigation-label"
    class="text-base font-semibold text-[#eee] uppercase"
  >
    Menu
  </h5>

  <div class="py-4 overflow-y-auto">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          class="flex items-center p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-border-all w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">All</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-cow w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Beef</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-egg w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Breakfast</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-drumstick-bite w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Chicken</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-ice-cream w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Dessert</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-bacon w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Goat</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-bacon w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Lamb</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-bowl-food w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Miscellaneous</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-bowl-rice w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Pasta</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-piggy-bank w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Pork</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-fish-fins w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Seafood</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-bacon w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Side</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-hourglass-start w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Starter</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-seedling w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Vegan</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <i
            class="fa-solid fa-plant-wilt w-5 h-5 text-[#eee] transition duration-75 group-hover:text-[#D84040]"
          ></i>
          <span class="ms-3">Vegetarian</span>
        </a>
      </li>
    </ul>
  </div>
</div>
