<div class="text-center">
  <label
    for="drawer-toggle"
    class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
  >
    Show All Categories
  </label>
</div>

<input type="checkbox" id="drawer-toggle" class="peer hidden" />

<div
  class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform bg-[rgba(142,22,22,0.85)] w-50 peer-checked:translate-x-0 -translate-x-full"
>
  <h5
    id="drawer-navigation-label"
    class="text-base font-semibold text-[#eee] uppercase"
  >
    Menu
  </h5>
  <div class="py-4 overflow-y-auto">
    <ul class="space-y-2 font-medium">
      <li routerLink="/services/all">
        <a
          class="flex items-center p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] group"
        >
          <span class="ms-3">All</span>
        </a>
      </li>
      @if(categoriesNames){ @for (name of categoriesNames; track $index) {
      <li [routerLink]="['/services', name.strCategory]">
        <a
          class="flex items-baseline p-2 text-[#eee] rounded-2xl hover:bg-[#EEEEEE] hover:text-[#D84040] transition-all duration-300 group"
        >
          <span class="ms-3"> {{ name.strCategory }} </span>
        </a>
      </li>
      } }
    </ul>
  </div>
</div>
